.App {
  text-align: center;
}


.container{
  max-width:800px;
}

.homescreen {
  max-width:800px;
  text-align:center;
  font-size:25px;
  margin:auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Budget {
  width:100%;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
}

.Card-deck {
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.Card-deck-div {
  display: flex;
  justify-content: center;
  margin: auto;
}


.Slide-deck {
  padding-bottom: 50px;
  padding-top: 50px;
  margin: auto;
  width: 75%
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #413f3f;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #413f31;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}

#Stats-table, td {
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary, .btn-secondary {
  color: #fff;
  background-color: #EA526F;
  border-color: #EA526F;
  border-radius:20px;
}


.btn-primary:hover, .btn-secondary:hover {
  color: #EA526F;
  background-color: #fff;
  border-color: #EA526F;
}
  
.result {
  height: 50px;
  background-color: #EA526F;
  color: white;
  width: 100%;
}

.result p {
  font-size: 25px;
  margin: 5px;

}

.calculator-body {
  width: 200px;
  max-width: 400px;
  margin: auto;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(234, 82, 111, 0.2), 0 6px 20px 0 rgba(234, 82, 111, 0.19);
}

.button2 {
  background-color: #fff;
  width:50px;
  border:none;
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: #EA526F;
  color: white;
}

.Modal-div {
  display: flex;
  justify-content: center;
}

.Stats-dropdown-div {
  margin-left: calc(270%);
}