.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}


.Card-deck {
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.Card-deck-div {
  display: flex;
  justify-content: center;
}


.Stat-box {
  margin-left: 50px;
  width: 10%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  
.result {
  height: 50px;
  background-color: #FF8A5B;
  color: white;
  width: 100%;
}

.result p {
  font-size: 25px;
  margin: 5px;

}

.calculator-body {
<<<<<<< HEAD
  width: 200px;
=======
  width: 250px;
>>>>>>> 9c8f1aa4b4beaf507872a1d1e93bb3da46858f4e
  max-width: 400px;
  margin: auto;
  border-radius: 2px;
}

<<<<<<< HEAD
.button2 {
  background-color: #FCEADE;
  width:50px;
  border:none;
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: #FF8A5B;
  color: white;
}
=======
.button {
  display: block;
  background-color: #FCEADE;
  border-radius: 10px;
}

button {
  width: 25%;
  height: 50px;
  font-size: 25px;
  color: #FF8A5B;
  background-color: #fff;
  border-radius: 2px;
}
>>>>>>> 9c8f1aa4b4beaf507872a1d1e93bb3da46858f4e
