.App {
  text-align: center;
}

.homescreen {
  max-width:800px;
  text-align:center;
  font-size:25px;
  margin:auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Budget {
  width:100%;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
}

.Card-deck {
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.Card-deck-div {
  display: flex;
  justify-content: center;
}


.Slide-deck {
  padding-bottom: 75px;
  padding-top: 50px;
  margin: auto;
  width: 75%
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #413f3f;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #413f31;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.Stat-box {
  margin-left: 50px;
  width: 10%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  
.result {
  height: 50px;
  background-color: #FF8A5B;
  color: white;
  width: 100%;
}

.result p {
  font-size: 25px;
  margin: 5px;

}

.calculator-body {
  width: 200px;
  max-width: 400px;
  margin: auto;
  border-radius: 2px;
}

.button2 {
  background-color: #FCEADE;
  width:50px;
  border:none;
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: #FF8A5B;
  color: white;
}

.Modal-div {
  display: flex;
  justify-content: center;
}